@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  
  body {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-all duration-300;
  }
  
  .btn-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 hover:shadow-lg hover:shadow-blue-500/30;
  }

  .nav-link {
    @apply relative flex items-center px-4 py-2 text-gray-300 hover:text-white transition-all duration-300
           before:absolute before:inset-0 before:bg-white/10 before:rounded-lg before:opacity-0
           hover:before:opacity-100 before:transition-opacity;
  }

  .nav-icon {
    @apply w-5 h-5 mr-2 transition-transform duration-300 group-hover:scale-110;
  }
  
  .modal {
    @apply fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50;
  }
  
  .select-dropdown {
    @apply w-full p-2 rounded-md bg-gray-800 text-gray-100 z-10 relative;
  } 

}

@layer pages {
  .fc-toolbar {
    padding: 0.5rem; /* Ajusta el padding según tus necesidades */
  }

  .fc-col-header-cell {
    background-color: #1F2937;
  }
  
  .fc-col-header-cell-cushion {
    color: #F3F4F6;
  }
  
  .fc-toolbar-title {
    color: #F3F4F6; 
    font-size: 1.25rem;
  }
  
  .fc-button {
    background-color: #4F46E5; 
    color: #FFFFFF; 
    padding: 0.25rem 0.5rem; /* Padding base */
    font-size: 0.875rem; /* Tamaño de fuente base */
    border-radius: 0.375rem; /* Rounded-md */
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .fc-button:hover {
    background-color: #4338CA; 
    transform: scale(1.05);
  }

  @media (max-width: 932px) {
    .fc-toolbar-title {
      @apply text-base;
    }
  
    .fc-button {
      @apply px-1 py-0.5 text-sm;
    }
  
    .fc-toolbar-chunk {
      @apply flex-col items-center;
    }
  
    .fc-button-group {
      @apply mb-2;
    }
  
    .fc-toolbar-chunk:first-child,
    .fc-toolbar-chunk:last-child {
      @apply w-full justify-center;
    }
  }
}

.carousel {
  -webkit-mask-image: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent);
  mask-image: linear-gradient(90deg, transparent, #000 10%, #000 90%, transparent);
}
